html {
  overflow-y: scroll;
}
*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  margin-top: 15px;
  font-size: 13px;
}
.center {
  text-align: center;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

th {
  overflow: hidden;
}
th div {
  overflow: hidden;
}
td {
  overflow: hidden;
}
td div {
  overflow: hidden;
}

.tabcontents-wrapper {
  margin: 20px;
}

#main-table-header div {
  font-weight: bold; 
}

#main-table-row .contents {
  border: 1px;
}

#main-table {
  table-layout: fixed;
}

.extra-col {
  -webkit-transition: width 0.35s ease-out;
}

.extra-col > div {
  padding-left: 5px;
  padding-right: 5px;
}

.collapsible-wrapper {
  -webkit-transition: height 0.35s ease-out;
}

.icon-wrapper {
  position: relative;
  display: table-cell;
  line-height: 6px;
  overflow: visible;
}

.icon-wrapper > img {
  margin-bottom: 3px;
  margin-right: 3px;
  width: 20px;
}

.footnote-icon {
  font-size: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
}
.footnote-icon-bg {
  color: #eeeeee;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffff);
}
.footnote-icon-core {
  color: #000;
}

.inline-icon {
  margin-right: 5px;
}

.grey-icon {
  color: #bbb;
}
.icon-margin-left-5 {
  margin-left: 5px;
}
.icon-margin-right-5 {
  margin-right: 5px;
}

.collapse-icon {
  transition: transform 0.35s linear;
  color: #bbb;
}
.collapse-icon:hover {
  color: #fff;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 10px;
}

.remove-rule-icon {
  margin-left: 10px;
  color: #bbb;
}
.remove-rule-icon:hover {
  color: #fff;
}

.save-filter-icon {
  color: rgba(255,255,255,0.5);
}
.save-filter-icon:hover {
  color: #fff;
}
.saved-filter-icon {
  color: #ddb;
}

.title-hover-show-inline {
  display: none;
}
.name-editing:hover + .title-hover-show-inline {
  display: inline-block;
}

.name-editing-active {
  background-color: inherit;
  margin-top: -3px;
  margin-bottom: -3px;
}

.bookmark-width { 
  min-width: 270;
}
@media (min-width: 800px) {
  .bookmark-width { width: 50%; }
}
@media (min-width: 1200px) {
  .bookmark-width { width: 33.3%; }
}
@media (min-width: 1600px) {
  .bookmark-width { width: 25%; }
}
@media (min-width: 2000px) {
  .bookmark-width { width: 20%; }
}

.bookmark-icon-wrapper {
  width: 20px;
  margin-right: 3px;
  text-align: center;
  display: inline-block;
}

.bookmark-hover-show {
  display: none;
}
.bookmark-panel:hover .bookmark-hover-show {
  display: block;
}

.error-ul {
  padding-left: 20px;
}

#main-wrapper > .nav {
  display: flex;
}
#main-wrapper > .nav li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main-wrapper > .nav li a {
  text-align: center;
}
#main-wrapper > .nav .dropdown-menu {
  min-width: 100%;
}
#main-wrapper > .nav .dropdown {
  overflow: inherit;
}
