*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  margin-top: 15px;
  font-size: 13px;
}
.center {
  text-align: center;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

th {
  overflow: hidden;
}
th div {
  overflow: hidden;
}
td {
  overflow: hidden;
}
td div {
  overflow: hidden;
}

#main-wrapper {
  margin: 20px;
}

#main-table-header div {
  font-weight: bold; 
}

#main-table-row .contents {
  border: 1px;
}

#main-table {
  table-layout: fixed;
}

.extra-col {
  -webkit-transition: width 0.35s ease-out;
}

.extra-col > div {
  padding-left: 5px;
  padding-right: 5px;
}

.collapsible-wrapper {
  -webkit-transition: height 0.35s ease-out;
}

.icon-wrapper {
  position: relative;
  display: table-cell;
  line-height: 6px;
  overflow: visible;
}

.icon-wrapper > img {
  margin-bottom: 3px;
  margin-right: 3px;
}

.footnote-icon {
  font-size: 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: visible;
}
.footnote-icon-bg {
  color: #eeeeee;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffff);
}
.footnote-icon-core {
  color: #000;
}

.inline-icon {
  margin-right: 5px;
}

.collapse-icon {
  transition: transform 0.35s linear;
  color: #bbb;
}
.collapse-icon:hover {
  color: #fff;
}

.form-horizontal .control-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 10px;
}

.remove-rule-icon {
  margin-left: 10px;
  color: #bbb;
}
.remove-rule-icon:hover {
  color: #fff;
}

.save-filter-icon {
  color: #bbf;
}
.save-filter-icon:hover {
  color: #fff;
}
.saved-filter-icon {
  color: #ddb;
}
