*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
body {
  margin-top: 15px;
  font-size: 13px;
}
.center {
  text-align: center;
}
.form-group {
  margin-bottom: 0px;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.divider {
  padding-left: 15px;
  padding-right: 15px;
}
.divider hr {
  margin-bottom: 15.5px;
}

#main-table-header div {
  font-weight: bold; 
}

#main-table-row .contents {
  border: 1px;
}

.collapsible-wrapper {
  -webkit-transition: height 0.35s ease-out;
  overflow: hidden;
}
